section {
    height:300px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}

.bg-1 {
    background: url('https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12407196_133895780319492_1852870637_n.jpg') no-repeat center center fixed;
    background-size:cover;
    color:#fff;
}

.frontpage-bydate {
    font-size: 16px;
    margin-left: 20px;
    color: #999;
}

.frontpage-prelude {
    margin-bottom: 20px;
}
