<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- meta name="description" content="{{ page.description }}" -->
	<meta name="author" content="Gumpanat Keardkeawfa">
	<meta name="keyword" content="auycro,blog{{ page.keywords }}">
	<!-- favicon -->
	<link rel="shortcut icon" href="/img/ico/favicon.ico">
	<!-- title -->
	<title>{{ page.title }}</title>		
	<!-- styles -->
	<!--link href="/css/bootstrap.min.css" rel="stylesheet"-->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

	<link href="/css/jumbotron-narrow.css" rel="stylesheet">
	<link href="/css/auycro-github-io.css" rel="stylesheet">
	<!-- link href="/css/style.css" rel="stylesheet" -->
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<![endif]-->

	<!-- scripts -->
	{% include scripts.html %}
	<!-- google analytics - i will not share this data with google -->
	{% include analytics.html %}	
	<!-- ssl redirect's script -->
	<!-- 
	     This implement is not working smootly with <a href>.
	     <a href="/somepath"> is link to http protocol.
	     And it made website to unfunctional when try to going to previous page.
	     (such as press 'Back' button)
	     {% include ssl-redirect.html %}
	-->
</head>
