<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation">
        <li class="nav-item dropdown">
          <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  More items  </a>
           <ul class="dropdown-menu">
             <li><a class="dropdown-item" href="#"> Submenu item 1</a></li>
             <li><a class="dropdown-item" href="#"> Submenu item 2 </a></li>
           </ul>
       </li>
      </li>
      <li role="presentation"><a href="/th-brailler-js/">Thai Braille JS</a></li>
      <li role="presentation"><a href="/vi_memo">Vi's Memo</a></li>
      <li role="presentation"><a href="/blog/2016/03/17/thai-chess-js">TH Chess</a></li>
      <li role="presentation"><a href="/ttjp_app">TTJP</a></li>
      <li role="presentation"><a href="/blog">Archive</a></li>
      <li role="presentation"><a href="/about">About</a></li>
    </ul>
  </nav>
  <h3 class="text-muted"><a href="/">Auycro</a></h3>
</div>
<!-- /header -->
