<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown">
          Dropdown <span class="caret"></span>
         </button>
         <ul class="dropdown-menu">
           <li><a href="#">Action</a></li>
           <li><a href="#">Another action</a></li>
           <li class="dropdown">
             <a href="#">One more dropdown</a>
             <ul class="dropdown-menu">
               <li><a href="#">Action</a></li>
               <li><a href="#">Another action</a></li>
               <li class="dropdown">
                 <a href="#">One more dropdown</a>
                 <ul class="dropdown-menu">
                 ...
                 </ul>
               </li>
               <li><a href="#">Something else here</a></li>
               <li><a href="#">Separated link</a></li>
              </ul>
           </li>
           <li><a href="#">Something else here</a></li>
           <li><a href="#">Separated link</a></li>
         </ul>
      </li>
      <li role="presentation"><a href="/th-brailler-js/">Thai Braille JS</a></li>
      <li role="presentation"><a href="/vi_memo">Vi's Memo</a></li>
      <li role="presentation"><a href="/blog/2016/03/17/thai-chess-js">TH Chess</a></li>
      <li role="presentation"><a href="/ttjp_app">TTJP</a></li>
      <li role="presentation"><a href="/blog">Archive</a></li>
      <li role="presentation"><a href="/about">About</a></li>
    </ul>
  </nav>
  <h3 class="text-muted"><a href="/">Auycro</a></h3>
</div>
<!-- /header -->
