<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" class="nav-item dropdown">
        <div class="dropdown">
          <a class="dropdown-toggle btn" data-toggle="dropdown" href="#" >Project</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li role="presentation" class="nav-item"><a href="/th-brailler-js/">Thai Braille JS</a></li>
              <li>Item Two</li>
            </ul>
        </div>
      </li>
      <li role="presentation" class="nav-item"><a href="/th-brailler-js/">Thai Braille JS</a></li>
      <li role="presentation" class="nav-item"><a href="/vi_memo">Vi's Memo</a></li>
      <li role="presentation" class="nav-item"><a href="/blog/2016/03/17/thai-chess-js">TH Chess</a></li>
      <li role="presentation" class="nav-item"><a href="/ttjp_app">TTJP</a></li>
      <li role="presentation" class="nav-item"><a href="/blog">Archive</a></li>
      <li role="presentation" class="nav-item"><a href="/about">About</a></li>
    </ul>
  </nav>
  <h3 class="text-muted"><a href="/">Auycro</a></h3>
</div>
<!-- /header -->
